.presentation{

    width: 300px;
    border: 15px solid #04002d;
    padding: 50px;
    margin: 40%;
    margin-top: 6%;
    text-align: center;
}

body{
    background-color: #000000;
    overflow-y: hidden;

}

.text{
    text-align: center;
    color: white;
    font-size: x-large;
    font-family: "Arial Rounded MT Bold";
}

.image{

    filter: invert(100%) sepia(96%) saturate(15%) hue-rotate(212deg) brightness(104%) contrast(104%);
    width: 100%;
    height: 80%;
    margin-top: 2px;
    margin-left: -4px;
    padding-right: 3px;
}


.chatbot{
    margin-left:35%;
    margin-top: 3%;
    height: 700px;
    width: 400px;
    border: 10px solid #2d1100;
}

